- provide(:title, "Add experience time")

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Add experience time.
        .small.text-center
          %span.glyphicon.glyphicon-time
          When will this experience take place?

    .row.top-buffer
      = bootstrap_form_for @experience_time, url: experiences_experience_times_path do |f|
        = render 'shared/error_messages', object: f.object
        = f.datetime_select :start_time
        = f.datetime_select :end_time
        = hidden_field_tag :experience, params[:experience]
        = f.submit "Add time", class: "btn btn-large btn-primary"
