- provide(:title, "Create a Trip")

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Create a new trip.
        .small.text-center
          %span.glyphicon.glyphicon-plane
          Let's get started planning your trip.

    .row.top-buffer
      = bootstrap_form_for(@trip, url: customers_trips_path) do |f|
        = render 'shared/error_messages', object: f.object

        = f.text_field :trip_name, label: "What would you like to call this trip?"
        = f.select :location, options_for_select(Vendor.allowed_locations, params[:location]), label: "Where will you be going?"
        = f.date_select :start_date, { :label => "What is the start date for your trip?", :start_year => Time.new.year }
        = f.number_field :number_of_days, value: 1, in: 1...90,  label: "How many days will you be going for?"

        .center= f.submit "Create trip", class: "btn btn-large btn-primary"
