- provide(:title, current_customer.name + "s Trips")

%h1 My Trip Itinerary
.row
  .col-md-7
    -if (@trips.load.count > 1)
      .trip-selector
        = bootstrap_form_tag(url: '/customers/trips', method: 'get', layout: :inline) do |f|
          = f.collection_select(:trip_selection, @trips.load, :id, :trip_name, options = {:hide_label => true, :prompt => "-- Select another trip to View --"})
          = f.submit "View Trip"
  .col-med-5.center
    = link_to "Create a new Trip", new_customers_trips_path, {:class => "btn btn-lg btn-success"}
    = link_to "Edit current trip", edit_customers_trips_path, {:class => "btn btn-lg btn-primary"}
.row
  .itinerary
    %h2
      = @current_trip.trip_name + " to " + @current_trip.location + " starting on " + @current_trip.start_date.strftime('%A, %B %e, %Y')
    %br
    -if @itinerary_items.empty?
      %h3.center.well= "There are currently no activities in your itinerary."
    - @itinerary_items.each do |item|
      .row
        .activity.clearfix
          .col-md-2
            .activity-picture
              - if item.activity.picture?
                = image_tag item.activity.picture.url(:medium), class: "img-responsive"
              - else
                = image_tag "/assets/sample_act_pic/#{rand(9)}.jpg"
          .col-md-8
            .activity-name
              = item.activity.name
              = " - "
              = item.activity_time.start_time.strftime("%A %B %d, %Y at  %l%P")
            .activity-description
              = item.activity.description
          .col-md-2
            .activity-price
              = item.activity.price
