/- debugger
%h1 Customer Sign up
%h2
  .row
    .col-md-6.col-md-offset-6
      = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!

        .row-padding
          = f.text_field :name
        .row-padding
          = f.email_field :email, autofocus: true
        .row-padding
          = f.select :location, options_for_select([[''], ['Boulder'], ['Broomfield'], ['Longmont']], params[:location])
        .row-padding
          = f.password_field :password, autocomplete: "off"
        .row-padding
          = f.password_field :password_confirmation, :label => "Confirmation", autocomplete: "off"
        .row-padding
          = f.form_group do
            = f.submit "Create my account"
      = render "devise/shared/links"
