- provide(:title, 'Sign up')

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Sign up.
        .small.text-center
          %span.glyphicon.glyphicon-thumbs-up
          Prepare for a grand time!

    .row.top-buffer
      = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render 'shared/error_messages', object: f.object
        = f.text_field :name
        = f.email_field :email, autofocus: true
        = f.text_field :location
        = f.password_field :password, autocomplete: "off"
        = f.password_field :password_confirmation, :label => "Confirmation", autocomplete: "off"
        = f.form_group do
          = f.submit "Create my account", class: "btn btn-large btn-success"
      = render "devise/shared/links"
