- provide(:title, 'Sign up')

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Sign up.
        .small.text-center
          %span.glyphicon.glyphicon-thumbs-up
          Prepare for a grand time!

    .row.top-buffer
      = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!

        .row-padding
          = f.text_field :name
        .row-padding
          = f.email_field :email, autofocus: true
        .row-padding
          = f.text_field :location
        .row-padding
          = f.password_field :password, autocomplete: "off"
        .row-padding
          = f.password_field :password_confirmation, :label => "Confirmation", autocomplete: "off"
        .row-padding
          = f.form_group do
            = f.submit "Create my account"
      = render "devise/shared/links"
