- provide(:title, 'Sign up')

%h1 Sign up
.center
  .col-md-6.col-md-offset-3
    = form_for @user, :class => "horizontal-form" do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
        = f.label :name
        = f.text_field :name
      .form-group
        = f.label :email
        = f.text_field :email
      .form-group
        = f.label :location
        = f.text_field :location
      .form-group
        = f.label :password
        = f.password_field :password
      .form-group
        = f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation
      .form-group
        = f.label :vendor
        .checkbox-inline
          = f.check_box :vendor
      .form-group
        = f.submit "Create my account", class: "btn btn-medium btn-primary"
