- provide(:title, 'Sign up')

%h1 Sign up
.row
  .col-md-6.col-md-offset-6
    = bootstrap_form_for @user, layout: :horizontal do |f|
      = render 'shared/error_messages', object: f.object

      .row-padding
        = f.text_field :name
      .row-padding
        = f.email_field :email
      .row-padding
        = f.text_field :location
      .row-padding
        = f.password_field :password
      .row-padding
        = f.password_field :password_confirmation, :label => "Confirmation"
      .row-padding
        = f.form_group :vendor do
          = f.check_box :vendor, label: "I wish to be a vendor on this site"
      .row-padding
        = f.form_group do
          = f.submit "Create my account"
