- provide(:title, 'Sign up')
%h1 Sign up
.center
  %div{class: ".col-md-6.col-md-offset-3"}
    = form_for(@user) do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
        = f.label :name
        = f.text_field :name
      .form-group
        = f.label :email
        = f.text_field :email
      .form-group
        = f.label :location
        = f.text_field :location
      .form-group
        = f.label :password
        = f.password_field :password
      .form-group
        = f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation
      .field
        = f.label :vendor
        = f.check_box :vendor
      = f.submit "Create my account", class: "btn btn-medium btn-primary"
