- provide(:title, current_customer.name)
.container
  .row
    .col-md-4.col-md-offset-4
      .page-header
        %h1
          = current_customer.name 
          .small
            %span.glyphicon.glyphicon-user
            Personal Profile

  .row
    .col-sm-12
      .row
        .col-sm-4
          .customer-image
            =image_tag("http://psych.colorado.edu/~cuchangelab/styled-37/styled-5/files/ker-seymer.jpg", class: "img-rounded")
        .col-sm-8
          .panel.panel-primary
            .panel-heading
              %h5 Information
            .panel-body
              .p= current_customer.bio
            %ul.list-group
              %li.list-group-item= current_customer.name
              %li.list-group-item= current_customer.email
              %li.list-group-item= current_customer.location

  /top_choices object, needs serious DRY and redesign, only functional for testing
  .row
    .top_three.col-sm-8.col-sm-offset-4
      .row
        .top_three_key.col-sm-3
          %h5 Pick Uno
        .top_three_hash.col-sm-9
          %h6=current_customer.top_choices[0]
      .row
        .top_three_key.col-sm-3
          %h5 Pick Dos
        .top_three_hash.col-sm-9
          %h6=current_customer.top_choices[1]
      .row
        .top_three_key.col-sm-3
          %h5 Pick Tres
        .top_three_hash.col-sm-9
          %h6= current_customer.top_choices[2]
    
  .row
    .pull-right
      =link_to "Edit profile", edit_customers_path, class: "btn btn-success btn-sm"
