- provide(:title, "Update profile for #{current_vendor.name}")
.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Profile.
        .small.text-center
          %span.glyphicon.glyphicon-edit
          Edit vendor profile

    .row.top-buffer
      = bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = f.text_field :name
        = f.email_field :email, :autofocus => true
        = f.select :location, options_for_select(Vendor.allowed_locations, params[:location])
        = f.file_field :picture
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        %hr
        %i (leave blank to keep current password)
        = f.password_field :password, :autocomplete => "off"
        = f.password_field :password_confirmation
        %hr
        %i (confirm your changes)
        %br/
        = f.password_field :current_password
        = f.submit "Update"
.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h3 Cancel my account
      %p
        Unhappy with your account? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
