- provide(:title, 'Sign up')
.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Sign up as a tuxedio vendor.
        .small.text-center
          %span.glyphicon.glyphicon-thumbs-up
          Let people know what your <br/> business has to offer!

    .row.top-buffer
      = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render 'shared/error_messages', object: f.object
        = f.text_field :name
        = f.email_field :email, autofocus: true
        = f.select :location, options_for_select(Vendor.allowed_locations, params[:location])
        = f.file_field :picture
        = f.text_field :zip_code
        = f.password_field :password, autocomplete: "off"
        = f.password_field :password_confirmation, :label => "Confirmation", autocomplete: "off"
        = f.form_group do
          = f.submit "Create my account"
      = render "devise/shared/links"
