- provide(:title, 'Resend Confirmation Email - Vendor')
.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-4
  .col-sm-12.well.form-box.sign-in-box
    .row
      %h2
        .text-center Resend confirmation instructions
        .small.text-center
          Confirm your vendor account!

    .row.top-buffer
      = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!
        .form-signin
          = f.email_field :email, placeholder: "Enter email address", :autofocus => true, class: 'form-control'
          %br

          = f.submit "Resend confirmation instructions", class: "btn btn-lg btn-success btn-block"
      .center= render "devise/shared/links"

