.col-6.col-sm-6.col-lg-4
  .well.explore-experience
    %a.thumbnail{href: experiences_path(experience: experience)}
      - if experience.picture?
        = image_tag experience.picture.url(:medium), class: "img-responsive"
      - else
        = image_tag "/assets/sample_act_pic/#{rand(9)}.jpg"
    .caption
      %h4.explore-name
        =link_to experience.name, experiences_path(experience: experience)
      .explore-description
        %p
          = experience.description
          = experience.vendor.name
      %p=  '$' + experience.price.to_s + '0'
      / if person doesn't have adventure, make new adventure
      - if user_signed_in? and current_user.person?
        - if current_user.rolable.adventures.count == 0
          - path = new_adventures_path
        -else
          - path = new_adventures_journey_items_path(experience: experience)
      - else
        - path = user_session_path
      %center=link_to 'Add to adventure', path, class: 'btn btn-primary'
