.row
  .experience.clearfix
    .col-md-2
      .experience-picture
        - if experience.picture?
          = image_tag experience.picture.url(:thumb), class: "img-responsive"
        - else
          = image_tag "/assets/sample_act_pic/#{rand(9)}.jpg", class: "img-responsive"
    .col-md-8
      .experience-name
        = experience.name
      .experience-description
        = experience.description
    .col-md-2
      .experience-price
        = experience.price
      .experience-edit
        - if user_signed_in? and current_user.vendor?
          = link_to "Edit Experience", edit_vendors_experiences_path(@experience, :id => experience.id), {:class => 'btn btn-lg btn-primary'}
