- provide(:title, "Edit an Experience")

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Edit experience.
        .small.text-center
          %span.glyphicon.glyphicon-info-sign
          Need to change your experience?
    .row.top-buffer
      = bootstrap_form_for(@experience, :url => vendors_experiences_path(@experience, :id => params[:id] ) ) do |f|
        = render 'shared/error_messages', object: f.object
        = f.text_field :name
        = f.text_field :location
        = f.file_field :picture
        = f.text_field :description
        = f.number_field :price
        = f.submit "Save experience", class: "btn btn-large btn-primary"
        = link_to "Add experience time", new_experiences_experience_times_path(:experience => @experience), class: "btn btn-large btn-primary"
