- provide(:title, @experience.name)
.row
  //left column
  .col-md-4
    %section.center
      .experience-picture
        - if @experience.picture?
          = image_tag @experience.picture.url(:thumb), class: "img-responsive"
        - else
          = image_tag "/assets/sample_act_pic/#{rand(9)}.jpg", class: "img-responsive"
  //right-column
  .col-md-8
    %section
      //experience information
      .experience-info.well.clearfix
        .experience-name
          = @experience.name
        .experience-description
          = @experience.description
        .experience-price.pull-left
          = "Price: $" + @experience.price.to_s + "0"
        .action-buttons.pull-right
          =link_to "Back to explore", explore_path, class: "btn btn-md btn-danger"
          - if person_signed_in?
            - if current_person.adventures.count == 0
              - path = new_adventures_path
            -else
              - path = new_adventures_itinerary_items_path(experience: experience)
          - else
            - path = person_session_path
          =link_to 'Add to adventure', path, class: 'btn btn-primary'
      //associated vendor information
      .vendor-offer-info.well
        .row
          .col-md-10
            .vendor-offer-title
              = "Vendor information:"
            .vendor-offer-name
              = @experience.vendor.name
            .vendor-offer-location
              = "Located in " + @experience.vendor.location
            .vendor-offer-desc
              = @experience.vendor.description
          .col-md-2
            .vendor-offer-picture
              = image_tag @experience.vendor.picture.url(:medium)
