- provide(:title, current_vendor.name)
.row
  .col-md-4
    %section
      .vendor-picture= image_tag current_vendor.picture.url(:medium)
      .vendor-edit-link
        = link_to "Edit Profile", edit_vendor_registration_path, {:class => 'btn btn-sm btn-primary'}
        = link_to 'Add an activity', new_vendors_activities_path, {:class => 'btn btn-sm btn-primary'}
        = unless current_vendor.confirmed?
          = link_to 'Import data from Yelp', confirm_details_vendors_path, {:class => 'btn btn-sm btn-primary'}
  .col-md-8
    %section
      .vendor-name
        %h1= current_vendor.name
      .vendor-location
        = "Located in "
        = current_vendor.location
      .vendor-description
        = "Placeholder for Vendor Description"
      .activities-container
%hr
  %h3= "Offered activities:"
  .activity-list
    -if current_vendor.activities.any?
      = will_paginate @activities, renderer: BootstrapPagination::Rails
      = render @activities
      = will_paginate @activities, renderer: BootstrapPagination::Rails
    -else
      = "No Activities"



