- provide(:title, "Add an activity")

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center= @activity.name
        .small.text-center
          %span.glyphicon.glyphicon-globe
          Book this activity?

    .row.top-buffer
      = bootstrap_form_tag url: trips_itinerary_items_path do |f|
        = f.select :trip, options_from_collection_for_select(@trips, 'id', 'name')
        = f.select :activity_time, options_from_collection_for_select(@activity_times, 'id', 'format_time')
        = hidden_field_tag :activity, @activity.id
        .center= f.submit "Add to my trip", class: "btn btn-large btn-primary"
