- provide(:title, "Add an activity")

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center= @activity.name
        .small.text-center
          %span.glyphicon.glyphicon-globe
          Book this activity?

    .row.top-buffer
      = bootstrap_form_tag url: trips_itinerary_items_path do |f|
        = f.select :trip_id, @trips.load.collect { |p| [p.trip_name, p.id] }
        = f.select :activity_time_id, @activity_times.load.collect  { |p| [p.start_time.to_formatted_s(:long), p.id] }
        = hidden_field_tag :activity_id, @activity.id
        .center= f.submit "Add to my trip", class: "btn btn-large btn-primary"
