- provide(:title, "Add an activity")

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Add an activity.
        .small.text-center
          %span.glyphicon.glyphicon-globe
          Let's book this activity.

    .row.top-buffer
      .col-md-8.col-md-offset-2
        = bootstrap_form_for(@itinerary_item, :url => {:controller => :itinerary_items, :action => :create}) do |f|
          = render 'shared/error_messages', object: f.object
          = f.collection_select(:trip_id, @trips.load, :id, :trip_name, options = {:label => "Which trip would you like to add to?"} )
          = f.datetime_select :start_time, label: "Start time"
          = f.datetime_select :end_time, label: "End time"
          = f.text_field :activity_id, hide_label: :true, placeholder: @activity.id
          = f.submit "Add to my trip", class: "btn btn-large btn-primary"
