- provide(:title, "Add an Activity")

%h1 Add an itinerary item

.row
  .col-md-6
    = bootstrap_form_for(@itinerary_item, :url => {:controller => :itinerary_items, :action => :create}) do |f|
      = render 'shared/error_messages', object: f.object

      = f.collection_select(:trip_id, @trips.load, :id, :trip_name, options = {:label => "Which trip would you like to add to?"} )

      = hidden_field_tag(:activity_id, @activity.id)

      = f.submit "Add to my trip", class: "btn btn-large btn-primary"
