- provide(:title, "Add an Activity")

%h1 Add an activity

.row
  .col-md-6
    = bootstrap_form_tag activities_path do
      = render 'shared/error_messages', object: f.object

      = text_field :name

      = text_field :location

      = text_field :description

      = number_field :price

      = submit "Create Activity", class: "btn btn-large btn-primary"