- provide(:title, "Add an activity")

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center Add an activity.
        .small.text-center
          %span.glyphicon.glyphicon-info-sign
          Tell us about your activity.
    .row.top-buffer
      = bootstrap_form_for @activity, url: vendors_activities_path do |f|
        = render 'shared/error_messages', object: f.object
        = f.text_field :name
        = f.text_field :location
        = f.file_field :picture
        = f.text_field :description
        = f.number_field :price
        = f.submit "Create activity", class: "btn btn-large btn-primary"
