=form_tag change_trips_itinerary_items_path do
  #cart.list-group{"data-offset-top" => "145", "data-spy" => "affix"}
    .list-group-item.active
      %h4.center
        %span.glyphicon.glyphicon-shopping-cart
        Trip items
        %br
      .center=itinerary[0].trip.name unless itinerary.empty?
    -if itinerary.empty?
      .list-group-item
        %h5.list-group-item-header
          Your trip is empty!
        %p.list-group-item-header-text
          Don't be shy, add something.
    -else
      -itinerary.each do |item|
        .list-group-item.item
          %h5.list-group-item-header
            = item.activity.name
          %p.list-group-item-header-text
            - time = item.activity_time.start_time
            .small= time.to_formatted_s(:long)

          = check_box_tag 'delete[]', item.id
          = label_tag 'delete', 'Delete'
      .top-buffer
        = submit_tag 'Update trip', class: 'btn btn-sm btn-block btn-success'

