%li.navbar-form
  = bootstrap_form_for(:user, url:  user_session_path) do |f|
    = f.email_field :email, hide_label: true, placeholder: "Email", :autofocus => true, class: "navbar-input", id: "user_email"
    = f.password_field :password, hide_label: true, placeholder: "Password", class: "navbar-input", id: "password"
    = f.submit "Sign in", class: "btn btn-block btn-success navbar-input"
%li.divider
%li= link_to "New user? Sign up!", registration_choice_path
%li= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
